/FlexAscParser/bin
/FlexAscParser/bc-platform/bin
/FlexAscParser/bc-api/bin
/FlexAscParser/bc-test/bin
/FlexAscParser/bc-test/out
/ProjectUpdater/bin
/FlexAscParserTests/bin
/FlexAscParserTests/output