/FlexAscParser/bin
/FlexAscParser/bc-platform/bin
/FlexAscParser/bc-api/bin
/FlexAscParser/bc-test/bin
/FlexAscParser/bc-test/out
/ProjectUpdater/bin
/FlexAscParserTests/bin
/FlexAscParserTests/output
/FlexAscParserTests/code_actual

/FlexAscParserTests/vs_project/*.suo
/FlexAscParserTests/vs_project/vs_project/bin
/FlexAscParserTests/vs_project/vs_project/obj

